* {
	box-sizing: border-box;
}

.col3 {

}

body {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

header {
	position: relative;
	width: 100%;
	background-color: #0074D9;
	padding: 5px;
	height: 50px;
}

#header-contents-container {
	position: absolute;
	left: 35px;
	bottom: 0px;
	margin-left: -25px;
	font-size: 35px;
	display: inline-block;
}

.header-contents {
	position: absolute;
	display: inline-block;
}

#title {
	line-height: 10px;
	left: 50px;
  top: -30px;
}

#logo {
	position: absolute;
	top: -50px;
}


.error {
  /* margin-left: 5px; */
  color: red;
  font-size: 15px;
}

#new-project-form {
	margin-bottom: 15px;
}
/*Task Module*/

.time-mod-wrapper {
	margin-top: 10px;
	width: 300px;
	/* padding-right: 29px; */
	margin-right: -21px;
}

.time-mod {
	background-color: #ffffff;
	padding-top: 5px !important;
	width: 300px;

}

.new-task-input:focus {
	outline: none;

}

.task-error {
 width: 300px;
}



.task-name {
	width: 160px;
	word-break:break-all;
	margin-bottom: 17px;
	/* position: absolute; */
}

.total-task-time {
	position: absolute;
	top: 0px;
	right: 10px;
}

.top-row {
	position: relative;
	top: 10px;
	font-size: 20px;
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
}




#new-project {
	margin-bottom: 10px;
	display: inline-block;
}

#new-project-input:focus {
	outline: none;
}




.project-form-wrapper {
	display: inline-block;
	margin-bottom: 20px;
}

.sell {
	position: absolute;
	width: 75px;
	height: 25px;
	right: 0px;
	top: -30px;
}

.timeMod > * {
	margin-top: 15px;
}

#title {
	margin-right: 10px;

}


.time-buttons {
	margin-top: 25px;
	display: inline-block;
}

.control-buttons {
	display: inline-block;
	margin-top: 10px;
	clear: both;
}

/*.control-buttons > button {
	padding: 10px 15px;
}*/



.name-input {
    width: 245px;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*.name-input,
.name-input::-webkit-input-placeholder
/*.custom-input::-moz-placeholder,
.custom-input:-moz-placeholder,*/
/*.custom-input:--ms-input-placeholder*/ {
  /*  font-size: 15px;
    line-height: 3;
		padding-left: 3px;*/

}*/



.well {
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    padding: 10px;
}

.project-wrapper {
	position: relative;
	overflow: hidden;
	/* overflow: scroll; */
	display: inline-block;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 5px 18px;
	vertical-align: top;
	/* margin: 10px 10px; */
	/* min-width: 345px; */
	width: 340px;
	min-height: 125px;
	max-width: 600px;
	position: relative;
	text-align: left;
}

.project-header {
	position: relative;
	margin-top: 12px;
}

.total-project-time {
	position: absolute;
	right: 25px;
	top: 0px;
}

.glyphicon-remove {
	position: absolute;
	right: 7px;
	top: 5px;
	opacity: .25;
}

.glyphicon-remove:hover {
    opacity: 0.5;
}

.project-name-wrapper {

}

.project-name {
	display: inline-block;
	font-weight: bold;
	font-size: 25px;
	width: 200px;
	/* border: 1px solid #000; */
	word-break:break-all;
}

.project-header {
	margin-bottom: 10px;
	position: relative;
}

.add-new-task {
	text-decoration: underline;
	margin-bottom: 10px;
	opacity: .45;
	font-size: 18px;
	padding: 7px 0px;
}

.add-new-task:hover {
	opacity: .8;
	cursor: pointer;
}



.plus {
	background-color: #4CAF50;
	-webkit-border-radius: 100;
	-moz-border-radius: 100;
	border-radius: 100px;
	color: white;
	font-size: 15px;
	padding: 10px 12px;
	cursor:pointer;
	display: inline-block;
}

.plus:hover {
	background-color: #43A047;
}

.plus:hover,
.plus:active,
.plus:focus {
	outline: 0;
}

.button {
	background-color: #337ab7;
	border-color: #0495F3
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	color: white;
	font-size: 15px;
	padding: 10px 14px;
	cursor:pointer;
	height: 35px;
	border: 1px solid #316282;
}


.button:hover {
  background: #3cb0fd;
}

.button-group .button {border-radius: 0; float: left; cursor:pointer;padding: 10px;}


.button-group .button:not(:last-child) {
    border-right: none;
}

.button.button-left {
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}

/*.button.button-right {
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
}*/

.time-row {
	border: 1px solid #000;
	width: 306px;
	height: 59px;
	display: inline-block;
	position: relative;
}

.
-time-controls {

}

.button-group .button:hover {
  background: #3cb0fd;
}

.custom-input-form {
	display: inline-block;
}
.custom-input {
	width: 50px;
	height: 35px;
	border-radius: 0px 7px 7px 0px;
	-moz-border-radius: 0px 7px 7px 0px;
	-webkit-border-radius: 0px 7px 7px 0px;
	/* display: inline-block; */
	float: left;
}

.custom-input:focus {
	outline:none;
}
.custom-input,
.custom-input::-webkit-input-placeholder
/*.custom-input::-moz-placeholder,
.custom-input:-moz-placeholder,*/
/*.custom-input:--ms-input-placeholder*/ {
    font-size: 15px;
    line-height: 3;
		padding-left: 3px;

}

.custom-input-submit-button {
	/* top: 29px; */
	/* right: 7px; */
	/*position: absolute;*/
	/* display: inline-block; */
	float: left;
	margin-top: 5px;
	background: none;
	opacity: 1;
	border: none;
}

.custom-input-submit-icon {
	font-size: 13px;
	color: rgb(49, 98, 130);
}

/*
button {
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    width: 75px;
    font-size: 20px;
}*/
