* {
	box-sizing: border-box;
}

body {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

header {
	margin-left:-10px;
	width: 100%;
	position: relative;
	background-color: #0074D9;
	padding: 5px;
	height: 50px;
}

header h1 {
	position: absolute;
	left: 35px;
	margin-left: -25px;
	font-size: 35px;

}

.module {
	margin: 40px 0;
}

body {
 	padding: 10px;
}

.wrapper {
  display: block;
  margin-top: 10px;
}

.error {
  margin-left: 5px;
  color: red;
}
.timeMod {
	width: 400px;
	padding: 10px;
}

.topRow {
	margin-top: -10px;
	position: relative;
	font-size: 20px;
	margin-bottom: 5px;

}

.topRow > * {
	display: inline-block;
}

#newProj {
	margin-bottom: 10px;
}

.sell {
	position: absolute;
	width: 75px;
	height: 25px;
	right: 0px;
	top: -30px;
}

.timeMod > * {
	margin-top: 15px;
}

#title {
	margin-right: 10px;

}
.customInput {
	width: 50px;
}

.controlButtons {
	margin-top: 10px;
}
/*
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}*/

.well {
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    padding: 20px;
}
.timeMod {
	background-color: white;
	width: 325px;
}

.project-wrapper {
	overflow: hidden;
	display: inline-block;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	vertical-align: top;
	margin: 10px 10px;
	min-width: 325px;
	min-height: 125px;
	position: relative;
}

.glyphicon-remove {
	position: absolute;
	right: 10px;
	top: 10px;
	opacity: .25;
}

.glyphicon-remove:hover {
    opacity: 0.5;
}

.project-name {
	font-weight: bold;
	font-size: 25px;
}

.project-header {
	margin-bottom: 10px;
}

.add-new-task {
	text-decoration: underline;
	/*color: 	#A0A0A0 ;*/
	opacity: .45;
}

.add-new-task:hover {
	opacity: .8;
	cursor: pointer;
}

.plus {
	background-color: #4CAF50;
  -webkit-border-radius: 100;
  -moz-border-radius: 100;
  border-radius: 100px;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  cursor:pointer;
}

.button {
	background-color: #337ab7;
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	color: white;
	font-size: 15px;
	padding: 10px 20px;
	cursor:pointer;
}

.button:hover {
  background: #3cb0fd;
}

.button-group .button {
	border-radius: 0;
	float: left;
	border: 1px solid #3cb0fd;
	cursor:pointer;
	padding: 10px 15px;

}


.button-group .button:not(:last-child) {
    border-right: none;
}

.button.button-left {
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}

.button.button-right {
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
}



.button-group .button:hover {
  background: #3cb0fd;
}
/*
button {
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    width: 75px;
    font-size: 20px;
}*/
