* {
	box-sizing: border-box;
}

body {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

header {
	position: relative;
	margin-left:-10px;
	width: 100%;
	background-color: #0074D9;
	padding: 5px;
	height: 50px;
}

#header-contents-container {
	position: absolute;
	left: 35px;
	bottom: 0px;
	margin-left: -25px;
	font-size: 35px;
	display: inline-block;
}

.header-contents {
	position: absolute;
	display: inline-block;
}

#title {
	line-height: 10px;
	left: 50px;
  top: -30px;
}

#logo {
	position: absolute;
	top: -50px;
}



.module {
	margin: 40px 0;
}

body {
 	padding: 10px;
}


.error {
  margin-left: 5px;
  color: red;
}

.time-mod-wrapper {
	margin-top: 10px;

}

.time-mod {
	background-color: #ffffff;
	padding-top: 5px !important;
	width: 300px;

}

.top-row {
	position: relative;
	top: 10px;
	font-size: 20px;
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;

}

.task-name {
	width: 160px;
	/* position: absolute; */
}

.total-task-time {
	position: absolute;
	top: 0px;
	right: 10px;
}


#newProj {
	margin-bottom: 10px;
}

.sell {
	position: absolute;
	width: 75px;
	height: 25px;
	right: 0px;
	top: -30px;
}

.timeMod > * {
	margin-top: 15px;
}

#title {
	margin-right: 10px;

}
.custom-input {
	width: 50px;
	height: 35px;
	border-radius: 0px 7px 7px 0px;
	-moz-border-radius: 0px 7px 7px 0px;
	-webkit-border-radius: 0px 7px 7px 0px;
}

.time-buttons {
	margin-top: 25px;
}

.control-buttons {
	margin-top: 10px;
}
/*
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}*/

.well {
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    padding: 10px;
}

.project-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 5px 20px;
	vertical-align: top;
	margin: 10px 10px;
	min-width: 350px;
	min-height: 125px;
	position: relative;
}

.project-header {
	position: relative;
	margin-top: 12px;
}

.total-project-time {
	position: absolute;
	right: 28px;
}

.glyphicon-remove {
	position: absolute;
	right: 10px;
	top: 10px;
	opacity: .25;
}

.glyphicon-remove:hover {
    opacity: 0.5;
}

.project-name-wrapper {
	display: inline;
	width: 77px;
}

.project-name {
	display: inline;
	font-weight: bold;
	font-size: 25px;
	width: 24px;
	/* border: 1px solid #000; */
}

.project-header {
	margin-bottom: 10px;
}

.add-new-task {
	text-decoration: underline;
	margin-bottom: 10px;
	opacity: .45;
}

.add-new-task:hover {
	opacity: .8;
	cursor: pointer;
}



.plus {
	background-color: #4CAF50;
  -webkit-border-radius: 100;
  -moz-border-radius: 100;
  border-radius: 100px;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  cursor:pointer;
}

.button {
	background-color: #337ab7;
	border-color: #0495F3
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	color: white;
	font-size: 15px;
	padding: 10px 20px;
	cursor:pointer;
	height: 35px;
	border: 1px solid #316282;
}

.button:hover {
  background: #3cb0fd;
}

.button-group .button {
	border-radius: 0;
	float: left;
	cursor:pointer;
	padding: 10px 15px;

}


.button-group .button:not(:last-child) {
    border-right: none;
}

.button.button-left {
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}

/*.button.button-right {
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
}*/



.button-group .button:hover {
  background: #3cb0fd;
}
/*
button {
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    width: 75px;
    font-size: 20px;
}*/
